<body>
    <br>
    <div id="divv" class="div2 shadow-lg">


        <div class="container custom-container">
            <div class="col-md-12">
                <br>
                <h3 class="mb-3 text-center"><u>Enter Employee Details</u></h3>
                <hr>
                <form #createEmployee="ngForm" (ngSubmit)="createEmployee.form.valid && addEmployee()">
                    <table>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="form-check-label" for="eid">Employee Id:</label>
                                    <input type="text" [(ngModel)]="employeeDetails.eid" class="form-control"
                                        placeholder="Enter EID" required #eid="ngModel"
                                        [class.is-invalid]="eid.invalid && eid.touched" class="input"
                                        class="form-control" name="eid" pattern="^[1-9][0-9]{0,4}$" ngModel />

                                    <div *ngIf="eid.errors && (eid.valid || eid.touched)">
                                        <small class="text-danger" *ngIf="eid.errors.required">Employee Id is
                                            required</small>
                                        <small class="text-danger" *ngIf="eid.errors.pattern">Employee Id is
                                            Invalid</small>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="form-check-label" for="fname">First Name:</label>
                                    <input type="text" [(ngModel)]="employeeDetails.fname" class="form-control"
                                        placeholder="Enter First Name" required #fname="ngModel"
                                        [class.is-invalid]="fname.invalid && fname.touched" class="input" name="fname"
                                        class="form-control" ngModel /> <br>
                                    <small class="text-danger" [class.d-none]="fname.valid || fname.untouched">
                                        First Name is required
                                    </small>
                                </div>
                            </td>&ensp;
                            <td>
                                <div class="form-group">
                                    <label class="form-check-label" for="fname">Last Name:</label>
                                    <input type="text" [(ngModel)]="employeeDetails.lname" class="form-control"
                                        placeholder="Enter Last Name" required #lname="ngModel"
                                        [class.is-invalid]="lname.invalid && lname.touched" class="input" name="lname"
                                        class="form-control" ngModel /> <br>
                                    <small class="text-danger" [class.d-none]="lname.valid || lname.untouched">
                                        Last Name is required
                                    </small>
                                </div>
                            </td>
                        <tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="form-check-label" for="age">Age:</label>
                                    <input type="text" [(ngModel)]="employeeDetails.age" class="form-control"
                                        placeholder="Enter Age" required #age="ngModel"
                                        [class.is-invalid]="age.invalid && age.touched" class="input"
                                        class="form-control" name="age"
                                        pattern="^(1[8-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|60)$" ngModel />

                                    <div *ngIf="age.errors && (age.valid || age.touched)">
                                        <small class="text-danger" *ngIf="age.errors.required">Age is required</small>
                                        <small class="text-danger" *ngIf="age.errors.pattern">Age is Invalid</small>
                                    </div>
                                </div>
                            </td>&ensp;
                            <td>
                                <div class="form-group">
                                    <label class="form-check-label" for="fname">Phone Number:</label>
                                    <input type="tel" [(ngModel)]="employeeDetails.phoneNumber" class="form-control"
                                        placeholder="Enter Phone Number" required #phoneNumber="ngModel"
                                        [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched" class="input"
                                        class="form-control" name="phoneNumber" pattern="[0-9]{10}" ngModel />
                                    <div *ngIf="
                                                          phoneNumber.errors && (phoneNumber.valid || phoneNumber.touched)
                                                          ">
                                        <small class="text-danger" *ngIf="phoneNumber.errors.required">Phone Number
                                            is required</small>
                                        <small class="text-danger" *ngIf="phoneNumber.errors.pattern">Phone Number
                                            is Invalid</small>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="form-check-label" for="email">Email:</label>
                                    <input type="text" [(ngModel)]="employeeDetails.email" class="form-control"
                                        placeholder="Enter Email" required #email="ngModel"
                                        [class.is-invalid]="email.invalid && email.touched" class="input"
                                        class="form-control" name="email"
                                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                                    <div *ngIf="email.errors && (email.valid || email.touched)">
                                        <small class="text-danger" *ngIf="email.errors.required">Email is
                                            required</small>
                                        <small class="text-danger" *ngIf="email.errors.pattern">Email is
                                            Invalid</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="form-check-label" for="fname">Password:</label>
                                    <input type="text" [(ngModel)]="employeeDetails.password" class="form-control"
                                        placeholder="Enter Password" required #password="ngModel"
                                        [class.is-invalid]="password.invalid && password.touched" class="input"
                                        class="form-control" name="password"
                                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                        ngModel />

                                    <div *ngIf="password.errors && (password.valid || password.touched)">
                                        <small class="text-danger" *ngIf="password.errors.required">Password is
                                            required</small>
                                        <small class="text-danger" *ngIf="password.errors.pattern">Password is
                                            Invalid</small>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="form-check-label" for="gender"> Gender: &nbsp;
                                    </label>
                                    <div class="form-check-inline">
                                        <label class="form-check-label" for="male">
                                            <input type="radio" class="form-check-input" id="male" name="gender"
                                                [(ngModel)]="employeeDetails.gender" value="MALE" checked>Male
                                        </label>
                                    </div>

                                    <div class="form-check-inline">
                                        <label class="form-check-label" for="female">
                                            <input type="radio" class="form-check-input" id="female" name="gender"
                                                [(ngModel)]="employeeDetails.gender" value="FEMALE">Female

                                        </label>
                                    </div>
                                </div>

                            </td>&ensp;<td>

                                <div class="form-group">
                                    <label class="form-check-label" for="role"> Role: &nbsp;
                                    </label>
                                    <div class="form-check-inline">
                                        <label class="form-check-label" for="employee">
                                            <input type="radio" class="form-check-input" id="employee" name="role"
                                                [(ngModel)]="employeeDetails.role" value="EMPLOYEE" checked>Employee
                                        </label>
                                    </div>

                                    <div class="form-check-inline">
                                        <label class="form-check-label" for="manager">
                                            <input type="radio" class="form-check-input" id="manager" name="role"
                                                [(ngModel)]="employeeDetails.role" value="MANAGER">Manager

                                        </label>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">

                                <div class="form-group">
                                    <label class="form-check-label" for="address">Address:</label>
                                    <textarea type="text" [(ngModel)]="employeeDetails.address" class="form-control"
                                        placeholder="Enter Address" required #address="ngModel"
                                        [class.is-invalid]="address.invalid && address.touched" class="input"
                                        name="address" class="form-control" ngModel></textarea>
                                    <small class="text-danger" [class.d-none]="address.valid || address.untouched">
                                        Address is required
                                    </small>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">

                                <div id="sec" class="form-group">
                                    <button id="create" class="btn btn-primary btn-lg btn-block" (click)="addEmployee()"
                                        [disabled]="createEmployee.invalid">Create
                                        Employee</button>

                                </div>
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>
    </div>


</body>