<body>
<br><br><br>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="#">VAABS<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/aboutus" routerLinkActive="active" >About</a></li>
          
          <li><a >Team</a></li>
          <li><a >Contact</a></li>
         

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
<br><br><br><br>

<div class="container shadow-lg" id="aboutus">
    
<br><br>
    <h2 align="center"><u>Employee Management System</u></h2><hr><br>
    <h5>  An Employee Management System is a distributed system <br>developed to maintain the employee details and the company workflow <br>process systematically.
 </h5>
    <h6>
        This system maintains the professional and personal details of the employees<br> and the company in a safe manner.
   
    An employee management system <br>is a platform where all work-related <br>as well as important personal details of an employee is stored and managed <br>in a secure way. By using this system,<br> you can manage admin activities in an easier and quicker way.  
   <br> Now manage your hiring expenses with automated recruitment management system. </h6>
      <br><br>
  </div>


<div class="container" id="help">
<h2>Need a Help ???</h2>

    <h3>Our Team Is ready to help you 24/7..</h3><br><br>
  <div class="row">
    <div class="col-sm" id="s">
     <h4>Saurav</h4>
    
    
    </div>
    <div class="col-sm">
      <h4>Anuj</h4>
    
    </div>
    <div class="col-sm">
        <h4>Alekhya</h4>
     
    </div>
    <div class="col-sm">
        <h4>BhagyaLakshmi</h4>
     
    </div><br>
    <div class="col-sm">
       <h4>Vamshi</h4> 
     
    </div>
    
  </div>
</div><br>













<!-- <div class="clearfix"> -->
    <!-- <img src="./assets/img/ems.png" alt="..." class="float-left"> -->
    <!-- <img style='float:center;width:400px;height:200px; margin-right:700px;' src="./assets/img/ems.png" alt=".." class="float-right rounded-circle"> -->
    <!-- <img style='float:center;width:300px;height:200px; margin-right:10px;' src="./assets/img/ems.png" alt="banner-img" class="float-left rounded-circle pull-left mr-2"> -->
  <!-- <p>This text appears next to the image.</p> -->
<!-- </div> -->













<!-- <div  id="first" class="about"> -->
    <!-- <main class="site-main">

    <section class="site-banner">
       <div class="container">
            <div class="row"> -->
                <!-- <div class="col-lg-7 col-md-14 site-title">

                    <h1 class="title-text">Employee Management System</h1>
                    <h6 class="title-text">An employee management system is a distributed system developed to maintain the employee details and the company workflow process systematically.

                        EMS helps to eliminate the manual process and saves a lot of time and money. This system maintains the professional and personal details of the employees and the company in a safe manner.</h6>

                     <div class="d-flex flex-row flex-wrap">

                     </div>   
                </div>   -->
                 
                <!-- <div class="col-lg-7 col-md-14 banner-image"></div>
                <div class="clearfix">
                <img style='float:center;width:500px;height:150px; margin-right:10px;' src="./assets/img/ems.png" alt="banner-img" class="img-fluid rounded">
           -->
                 <!-- <img src="./assets/img/ems.png" alt="" class="img-fluid"> -->
   
                 <!-- <div class="col-lg-7 col-md-14 site-title"> -->

                    <!-- <h1 class="title-text">Employee Management System</h1> -->
                    <!-- <h6 >An employee management system is a distributed system developed to maintain the employee details and the company workflow process systematically.

                    </h6> -->
                        <!-- <h6> This system maintains the professional and personal details of the employees and the company in a safe manner.</h6> -->

                     <!-- <div class="d-flex flex-row flex-wrap">

                     </div>    -->
                <!-- </div>  
            
       </div>
        </div>
    </section>
    </main> -->




<!-- </div> -->

</body>