<blockquote class="blockquote">
  <p><b>Admin Portal of managing Employee Database</b></p>
</blockquote>
<div class="container custom-container-2">

  <!-- Show it when there is no employee -->
  <div class="no-data text-center" *ngIf="Employee.length == 0">
    <p>There is no employee added yet!</p>
    <p>There is no employee added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/createEmployee">Add
      Empoyee</button>
  </div>

  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="Employee.length !== 0">
    <h3 class="mb-3 text-center">Employees List</h3>


    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search First Name" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <button class="btn btn-outline-success" routerLink="/getLeave">Show Leaves</button>
      </div>
    </nav>


    <div class="col-md-12">
      <table class="table table-warning">
        <thead>
          <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Available-Leave</th>
            <th scope="col">Role</th>
            <th scope="col">Phone Number</th>

            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of Employee">
            <td>{{employee.eid}}</td>
            <td>{{employee.fname}}</td>
            <td>{{employee.lname}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.availableLeave}}</td>
            <td>{{employee.role}}</td>
            <td>{{employee.phoneNumber}}</td>
            <td>
              <button class="edit" routerLink="/editEmployee/{{employee.eid}}"> Edit </button>
              <button class="delete" (click)="deleteEmployee(employee.eid)">
                Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>