
<div class="container custom-container-2">
  <div class="no-data text-center" *ngIf="Leave.length == 0">
    <p>There is no Leave applied Yet</p>
   
  </div>
<br><br><br>
  <div *ngIf="Leave.length !== 0">
    <div class="col-md-12">
      <table class="table table-hover shadow-lg table-striped" id="tab">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Leave Id</th>
            <th scope="col">Leave Type</th>
            <th scope="col">EId</th>
            <th scope="col">Leave applied from </th>
            <th scope="col">Leave applied till Date</th>
            <th scope="col">Leave Status</th>
            <th scope="col" colspan="2" id="act">Action</th>
            <th scope="col">Action Taken!</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of Leave">
            <td>{{leave.leaveId}}</td>
            <td>{{leave.leaveType}}</td>
            <td>{{leave.eid}}</td>
            <td>{{leave.fromDate | date}}</td>
            <td>{{leave.toDate | date}}</td>
            <td>{{leave.leaveStatus}}</td>
            <td>
              <button class="action btn btn-success" (click)="approveLeave(leave.leaveId)">Approve</button></td>
              <td> <button class="action btn btn-danger" (click)="rejectLeave(leave.leaveId)">Reject</button></td>
            
            <td>{{leave.action}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
